<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap style-set -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!-- Google Font: Playwrite New Zealand Basic -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap" rel="stylesheet">
    <!-- Google Font: Roboto Condensed -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300..700&display=swap" rel="stylesheet"> 
    <!-- Add our styles after boootstrap -->
    <link rel="stylesheet" href="feedback-styles.css">
    <title>Student Feedback Form</title>
</head>
<!-- Margin 3 from Bootstrap for Body -->
<body class="m-3">
    <!-- Div class with background color for header, margin, padding and centering the text -->
    <div class="header bg-primary-subtle mb-3 p-2 rounded-3 text-center">
        <!-- Student Feedback Form header -->
        <h1>Please provide feedback. You may do so anonymously.</h1>
    </div> <!-- End of header div -->
    <!-- Row div for Bootstrap grid system -->
     <div class="row">
        <!-- Instructions div -->
        <div class="intro col-md-5 sm-12">
            <h2>Instructions</h2>

            <p>As one of our students, your thoughts, feedback, and comments are important to us.</p>
            <p>Please take a moment to share your comments with us.</p>
            <p>If you would like us to follow up with you, please include your email address.</p>
        </div> <!-- End of Instructions div -->
        <!-- Form div -->
         <div class="col-md-7 sm-12">
            <!-- form wrapper with reroute to /submit-feedback with post -->
            <form action="/submit-feedback" method="post">
                <!-- Label for student name-->
                <label class="form-label" for="name">Name:</label>
                <!-- Input type text, optional  -->
                <input class="form-control" type="text" id="student-name" name="name">
                <!-- Breaks for webpage spacing -->
                <br> 
                <!-- Label for student email -->
                <label class="form-label" for="email">Email:</label>
                <!-- Input type email, optional -->
                <input class="form-control" type="email" id="student-email" name="email">
                <br>
                <!-- Label for student's comments -->
                <label class="form-label" for="comments">Comments:</label>
                <br>
                <!-- Text area for student comments, required -->
                <textarea class="form-control" id="comments" name="comments" required></textarea>
                <br>
                <!-- P element question for current student radio buttons -->
                <p class="mx-2">Are you a current student?</p>
                <!-- Div with form-check class for Bootstrap styling -->
                <div class="form-check">
                    <!-- Radio input button for yes -->
                    <input class="form-check-input" type="radio" id="current-yes" value="yes" name="current-student" checked>
                    <!-- Label for yes -->
                    <label class="form-check-label" for="current-yes">Yes</label>
                </div>
                <!-- Div with form-check class for Bootstrap styling -->
                <div class="form-check">
                    <!-- Radio input button for no -->
                    <input class="form-check-input" type="radio" id="current-no" value="no" name="current-student">
                    <!-- Label for no -->
                    <label class="form-check-label" for="current-no">No</label>
                </div>
                <br>
                <!-- Submit button -->
                <input class="btn btn-primary" type="submit">
                <!-- End of form wrapper -->
            </form> <!-- End of form wrapper -->
        </div> <!-- End of Form div -->
    </div> <!-- End of row div -->
</body>
</html>